.main-header {
    background-color: var(--color-header-bc);
    border-bottom: 1px solid var(--color-border-bottom);
}


.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    padding: 1rem 2rem;
    
}
  
.logo {
    font-weight: 700;
    font-size: 30px;
}
.logo i{
    font-weight: 700;
    font-size: 30px;
}
  
.header-left {
    display: flex;
    align-items: center;
    gap: 9rem;
}
  
.nav-links {
    display: flex;
    gap: 3rem;
}
  
.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-weight: 700;
}
  
.nav-links a:hover {
    color: #145cd1;
    text-decoration: underline;
}
  
.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.login-btn,
.signup-btn {
    background: transparent;
    border: 1px solid #3b82f6;
    color: #3b82f6;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    width: 120px;
}
  
.signup-btn {
    background-color: #3b82f6;
    color: white;
}
  
.login-btn:hover,
.signup-btn:hover {
    background-color: #1e3a8a;
    color: white;
}
  
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
  
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #111827;
        padding: 1rem 2rem;
        z-index: 10;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .header-left {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-direction: row-reverse;
    }
}