.details {
  margin-top: 5px;
  width: 100%;
  background-color: var(--color-db-bc);
}

.details .basic-info form,
.details .address-info form {
  padding: 1rem;
}


.details .basic-info form h2 {
  color: var(--color-text);
}

.details .basic-info form h5,
.details .address-info form h5 {
  color: var(--color-theme-h5);
  margin-bottom: 1rem;
  font-size: 24px;
}

.details .basic-info form .content,
.details .address-info form .content {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "firstname lastname"
    "email phone"
    "buttons buttons";
}

.details .address-info form .content {
  grid-template-areas:
    "addressline_1 addressline_1"
    "addressline_2 addressline_2"
    "postalcode city"
    "buttons buttons";
}

#form-firstname {
  grid-area: firstname;
}

#form-lastname {
  grid-area: lastname;
}

#form-email {
  grid-area: email;
}

#form-phone {
  grid-area: phone;
}

#form-addressline-1 {
  grid-area: addressline_1;
}

#form-addressline-2 {
  grid-area: addressline_2;
}

#form-addressline-2 span {
  color: var(--color-span);
  font-weight: 400;
}

#form-postalcode {
  grid-area: postalcode;
}

#form-city {
  grid-area: city;
}

.input-group2 {
  display: flex;
  flex-direction: column;
}

.input-group2 label {
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-label);
}

.input-group2 input,
.input-group2 textarea {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  background-color: var(--color-bk-input);
  font-size: 1rem;
  color: var(--color-label);
}

.input-group2 input:disabled,
.input-group2 textarea:disabled {
  background-color: var(--color-bk-disabled);
  cursor: not-allowed;
  color: var(--color-disabled);
}

.input-group2 textarea {
  resize: vertical;
  min-height: 100px;
}

.form-buttons {
  grid-area: buttons;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-theme {
  background-color: var(--color-theme-h5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}

.btn-theme:hover {
  background-color: #195cc5; /* darken #1f6feb ~5% */
}

.btn-gray {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-gray:hover {
  background-color: #ccc;
}