.sidebar {
  background-color: var(--color-db-bc);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow-sidebar-box);
  margin-bottom: 1rem;
}

.sidebar-user {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 1rem;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.sidebar-user .sidebar-profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  margin-right: 15px;
}

.sidebar-user .btn-refersh {
  height: auto;
  border: 1px solid #D4D7E5;
  color: var(--color-btn-text);
  background-color: var(--color-compare-border);
  border-radius: 50%;
  padding: 4px 4px 2px 4px;
  position: absolute;
  top: 170px;
  left: 235px;
  cursor: pointer;
  align-items: center;
}

.sidebar-user .btn-refersh:hover {
  background-color: var(--color-stock-tr);
  color: var(--color-text);
}

.sidebar-user .btn-refersh i {
  font-size: 15px;
  padding: 0;
}

.sidebar-user i {
  padding-right: 10px;
  display: flex;
  font-size: 25px;
  align-items: center;
}
.sidebar-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.sidebar-buttons button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background: #124ed0;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  width: auto;
  text-align: left;
  box-shadow: var(--shadow-sidebar-box);
  transition: background 0.35s ease-in-out;
}


.sidebar-buttons button:hover {
  background: #121a2c;
  color: #ffffff;
}

.sidebar-buttons .active {
  background: #1f2937;
}


