.win-loss-columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.win-loss-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.most-traded-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
  
.most-traded-table th,
.most-traded-table td {
  padding: 0.6rem 1rem;
  text-align: left;
  font-size: 0.95rem;
}
  
.most-traded-table th {
  color: #b5b5b5;
  font-weight: 600;
  border-bottom: 1px solid #c5c5c5;
}
  
.most-traded-table td {
  border-bottom: 1px solid #343434;
}

.most-traded-table .green {
  color: #035922;
}
  
.most-traded-table .red {
  color: #6c0606;
}
  
.most-traded-container {
  padding: 1rem;
}