.accounts-card {
  background: var(--color-db-bc);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: var(--shadow-db-sections);
  font-family: 'Segoe UI', sans-serif;
}

.accounts-card h3 {
  font-size: 22px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);
}

.accounts-card h3 i{
  color: var(--color-text);
  margin-top: 5px;
}

.account-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.account-box {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 1rem;
  transition: 0.3s ease;
  box-shadow: var(--shadow-account-box);
}

.account-box:hover {
  background-color: var(--color-db-hover);
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.55);
}

.account-box h4 {
  margin: 0 0 0.5rem 0;
  font-weight: 600;
  color: var(--color-text);
}

.account-box p {
  margin: 0;
  color: var(--color-text);
  opacity: 0.7;
}