.market-card {
  background-color: var(--color-db-bc);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: var(--shadow-db-sections);
  font-family: 'Segoe UI', sans-serif;
  flex: 1;
}

.market-card h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--color-text);
}



.market-card p {
  margin: 0.25rem 0;
  color: var(--color-text);
  font-size: 0.95rem;
}