.overview-card {
    background: var(--color-db-bc);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: var(--shadow-db-sections);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .overview-card h3 {
    font-size: 30px;
    margin-bottom: 1rem;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .overview-card h3  i{
    color: var(--color-text);
  }
  
  .overview-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    
  }
  
  .overview-card li {
    margin-bottom: 0.35rem;
    color: var(--color-text);
    opacity: 0.8;
  }
  
  .overview-card .positive {
    color: var(--color-footer-a);
  }
  
  .overview-card .negative {
    color: #dc2626; 
  }