.winners-losers-card {
  background: var(--color-db-bc);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow-db-sections);
  font-family: sans-serif;
}

.wl-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.wl-header h3 {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
}

.wl-tabs {
  display: flex;
  gap: 1rem;
  font-size: 14px;
}

.wl-tabs button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 3px;
  color: var(--color-text);
  font-weight: 500;
}

.wl-tabs .active {
  color: var(--color-text);
  font-weight: bold;
  border-bottom: 2px solid var(--color-compare-border);
}

.wl-description {
  margin-top: 0.5rem;
  font-size: 13px;
  color: var(--color-text)
}

.wl-description a {
  color: #1a44e1;
  text-decoration: none;
  margin-left: 0.4rem;
  font-weight: 700;
}

.wl-description a:hover {
  text-decoration: underline;
}